spring:
  application:
    name: school


    datasource:
      url: jdbc:h2:mem:db
      driver-class-name: org.h2.Driver
      username: sa
      password:

    jpa:
      database-platform: org.hibernate.dialect.H2Dialect

    hibernate:
      ddl-auto: create


    thymeleaf:
      mode: HTML
      prefix: classpath:/templates/
      suffix: .html
      cache: false
      encoding: utf-8




  
  # Cache Configuration
  cache:
    type: simple
    cache-names:
      - departments
  
  # Thymeleaf Configuration
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

# Server Configuration
server:
  port: 80
  servlet:
    session:
      cookie:
        http-only: true
        secure: false
        same-site: strict
      timeout: 30m

# Logging Configuration
logging:
  level:
    com.mftplus.school: DEBUG
    org.springframework.security: DEBUG
    sql: debug