<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="fa" dir="rtl">
<body>

<div th:fragment="content">

    <h4 class="mb-4">داشبورد مدیریت</h4>

    <div class="row g-3">

        <div class="col-md-3">
            <div class="card text-white bg-primary shadow">
                <div class="card-body text-center">
                    <i class="bi bi-mortarboard fs-2"></i>
                    <h6 class="mt-2">تعداد دانشجویان</h6>
                    <h4 th:text="${studentCount}">0</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-success shadow">
                <div class="card-body text-center">
                    <i class="bi bi-person-badge fs-2"></i>
                    <h6 class="mt-2">تعداد اساتید</h6>
                    <h4 th:text="${teacherCount}">0</h4>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>